@import '../../theme';

:host {
  width: 100%;
}

.container {
  height: 140px;
  border-radius: 130px;

  &.boy {
    background-color: mat-color($app-primary, 300);
  }
  &.girl {
    background-color: mat-color($app-accent);
  }
}
.emoji-icon {
  color: white;
  font-size: 80px;
  line-height: 80px;
  height: 80px;
  width: 80px;
}
