@import "../../theme";

:host {
  display: flex;
  height: 100%;
  width: 100%;
}
.mat-card {
  width: 260px;
}
#genderSelection {
  .mat-card {
    cursor: pointer;
    background-color: mat-color($app-primary, 50);
    .mat-card-content {
      height: 160px;
    }
  }
  #boy {
    .mat-icon {
      color: mat-color($app-primary);
      font-size: 128px;
      height: 128px;
      width: 128px;
    }
  }
  #girl {
    .mat-icon {
      color: mat-color($app-accent);
      font-size: 128px;
      height: 128px;
      width: 128px;
    }
  }
}
form {
  input {
    font-size: 16px;
  }
}
