@import '../../theme';
@import '../../variables';

:host {
  display: flex;
  height: 100%;
  width: 100%;
}
.container {
  margin-top: $base-spacing;
  width: 100%;

  #genderSelection {
    width: 100%;
    margin-bottom: $base-spacing * 2;

    &.belowChildren {
      margin-top: $base-spacing * 2;
    }

    .mat-card {
      width: 192px;
      cursor: pointer;
    }
  }
  form {
    margin-bottom: $base-spacing;

    .mat-card-content {
      font-size: 16px;
    }
    #datepicker {
      width: 128px;
    }
  }
  app-children {
    margin: $base-spacing;
  }
}
