@import '../../theme';

.mat-card {
  width: 288px;

  .mat-toolbar {
    &.boy {
      background-color: mat-color($app-primary, 300);
      color: $light-primary-text;
    }
    &.girl {
      background-color: mat-color($app-accent, 200);
      color: $light-primary-text;
    }
  }
  .tableContainer {
    .mat-table {
      max-height: 400px;
      overflow: auto;
    }
  }
}
