@import "../../variables";
@import "../../mixins";

:host {
  width: 100%;
}
.mat-card {
  width: 288px;

  label {
    font-size: 10px;
    opacity: .87;
  }
  .age {
    margin-left: 4px;
    font-size: 16px;
  }
}
@include breakpoint($large-handset) {
  :host {
    margin-top: $base-spacing;
  }
}
