@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$app-primary: mat-palette($mat-cyan);
$app-accent: mat-palette($mat-pink, 300, 100, 900);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create a config with the default typography levels.
// Add overrides to this to customize the app's typography.
// Details: https://material.angular.io/guide/typography#customization
$app-typography: mat-typography-config();

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
